* {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor;
}
.main_image {
	margin: 0px auto; width: 100%; height: 422px; overflow: hidden; border-top-color: rgb(215, 215, 215); border-top-width: 1px; border-top-style: solid; position: relative;
}
.main_image ul {
	left: 0px; top: 0px; width: 9999px; height: 422px; overflow: hidden; position: absolute;
}
.main_image li {
	width: 100%; height: 422px; float: left;
}
.main_image li span {
	width: 100%; height: 422px; display: block;
}
.main_image li a {
	width: 100%; height: 422px; display: block;
}
.main_image li .img_1 {
	background: url("../images/img_main_1.jpg") no-repeat top;
}
.main_image li .img_2 {
	background: url("../images/img_main_2.jpg") no-repeat top;
}
.main_image li .img_3 {
	background: url("../images/img_main_3.jpg") no-repeat top;
}
.main_image li .img_4 {
	background: url("../images/img_main_4.jpg") no-repeat top;
}
.main_image li .img_5 {
	background: url("../images/img_main_5.jpg") no-repeat top;
}
div.flicking_con {
	margin: 0px auto; width: 990px; position: relative;
}
div.flicking_con .flicking_inner {
	left: 90px; top: 360px; width: 300px; height: 21px; position: absolute; z-index: 999;
}
div.flicking_con a {
	background: url("../images/btn_main_img.png") no-repeat 0px 0px; margin: 0px; padding: 0px; width: 21px; height: 21px; text-indent: -1000px; float: left; display: block;
}
div.flicking_con a.on {
	background-position: 0px -21px;
}
#btn_prev {
	top: 50%; width: 73px !important; height: 74px !important; margin-top: -37px; display: none; position: absolute; z-index: 11111;
}
#btn_next {
	top: 50%; width: 73px !important; height: 74px !important; margin-top: -37px; display: none; position: absolute; z-index: 11111;
}
#btn_prev {
	background: url("../images/hover_left.png") no-repeat left top; left: 100px;
}
#btn_next {
	background: url("../images/hover_right.png") no-repeat right top; right: 100px;
}
